#wrapper{
    position:relative;
    width:'800px';
    height:'600px';
}

#canvas{
    position:absolute; top:0px; left:0px;
    width:800px;
    height:600px;
}

#canvas2 {
    position:absolute; 
    top:0px; left:0px;
    width:800px;
    height:600px;
}

#canvas3 {
    position:absolute; 
    top:0px; left:0px;
    width:800px;
    height:600px;
    
}


#tool{
    position: absolute;
    top:620px;
}